body {
  background-color: grey;
}

img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 14px;
  left: 17px;
}

.container {
  width: 100px;
  height: 80px;
  position: relative;
  margin: 60px auto 0;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: -webkit-transform 60s;
  -moz-transition: -moz-transform 60s;
  -o-transition: -o-transform 60s;
  transition: transform 60s;
}

#carousel:hover {
  animation: spin 0.06666667s infinite linear;
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

#carousel div {
  display: block;
  position: inherit;
  width: 100%;
  height: 100%;
  /*background-color: black;
  */
}

#carousel .one {
  width: 100%;
  height: 100%;
  background: url(/images/muybridge.jpg);
  background-position: -19px -17px;
  -webkit-transform: rotateY(0deg) translateZ(310px);
  -moz-transform: rotateY(0deg) translateZ(310px);
  -o-transform: rotateY(0deg) translateZ(310px);
  transform: rotateY(0deg) translateZ(310px);
}

#carousel .two {
  -webkit-transform: rotateY(22.5deg) translateZ(310px);
  -moz-transform: rotateY(22.5deg) translateZ(310px);
  -o-transform: rotateY(22.5deg) translateZ(310px);
  transform: rotateY(22.5deg) translateZ(310px);
}

#carousel .three {
  -webkit-transform: rotateY(45deg) translateZ(310px);
  -moz-transform: rotateY(45deg) translateZ(310px);
  -o-transform: rotateY(45deg) translateZ(310px);
  transform: rotateY(45deg) translateZ(310px);
}

#carousel .four {
  -webkit-transform: rotateY(67.5deg) translateZ(310px);
  -moz-transform: rotateY(67.5deg) translateZ(310px);
  -o-transform: rotateY(67.5deg) translateZ(310px);
  transform: rotateY(67.5deg) translateZ(310px);
}

#carousel .five {
  -webkit-transform: rotateY(90deg) translateZ(310px);
  -moz-transform: rotateY(90deg) translateZ(310px);
  -o-transform: rotateY(90deg) translateZ(310px);
  transform: rotateY(90deg) translateZ(310px);
}

#carousel .six {
  -webkit-transform: rotateY(112.5deg) translateZ(310px);
  -moz-transform: rotateY(112.5deg) translateZ(310px);
  -o-transform: rotateY(112.5deg) translateZ(310px);
  transform: rotateY(112.5deg) translateZ(310px);
}

#carousel .seven {
  -webkit-transform: rotateY(135deg) translateZ(310px);
  -moz-transform: rotateY(135deg) translateZ(310px);
  -o-transform: rotateY(135deg) translateZ(310px);
  transform: rotateY(135deg) translateZ(310px);
}

#carousel .eight {
  -webkit-transform: rotateY(157.5deg) translateZ(310px);
  -moz-transform: rotateY(157.5deg) translateZ(310px);
  -o-transform: rotateY(157.5deg) translateZ(310px);
  transform: rotateY(157.5deg) translateZ(310px);
}

#carousel .nine {
  -webkit-transform: rotateY(180deg) translateZ(310px);
  -moz-transform: rotateY(180deg) translateZ(310px);
  -o-transform: rotateY(180deg) translateZ(310px);
  transform: rotateY(180deg) translateZ(310px);
}

#carousel .ten {
  -webkit-transform: rotateY(202.5deg) translateZ(310px);
  -moz-transform: rotateY(205.5deg) translateZ(310px);
  -o-transform: rotateY(202.5deg) translateZ(310px);
  transform: rotateY(205.5deg) translateZ(310px);
}

#carousel .eleven {
  -webkit-transform: rotateY(225deg) translateZ(310px);
  -moz-transform: rotateY(225deg) translateZ(310px);
  -o-transform: rotateY(225deg) translateZ(310px);
  transform: rotateY(225deg) translateZ(310px);
}

#carousel .twelve {
  -webkit-transform: rotateY(247.5deg) translateZ(310px);
  -moz-transform: rotateY(247.5deg) translateZ(310px);
  -o-transform: rotateY(247.5deg) translateZ(310px);
  transform: rotateY(247.5deg) translateZ(310px);
}

#carousel .thirteen {
  -webkit-transform: rotateY(270deg) translateZ(310px);
  -moz-transform: rotateY(270deg) translateZ(310px);
  -o-transform: rotateY(270deg) translateZ(310px);
  transform: rotateY(270deg) translateZ(310px);
}

#carousel .fourteen {
  -webkit-transform: rotateY(292.5deg) translateZ(310px);
  -moz-transform: rotateY(292.5deg) translateZ(310px);
  -o-transform: rotateY(292.5deg) translateZ(310px);
  transform: rotateY(292.5deg) translateZ(310px);
}

#carousel .fifteen {
  -webkit-transform: rotateY(315deg) translateZ(310px);
  -moz-transform: rotateY(315deg) translateZ(310px);
  -o-transform: rotateY(315deg) translateZ(310px);
  transform: rotateY(315deg) translateZ(310px);
}

#carousel .sixteen {
  -webkit-transform: rotateY(337.5deg) translateZ(310px);
  -moz-transform: rotateY(337.5deg) translateZ(310px);
  -o-transform: rotateY(337.5deg) translateZ(310px);
  transform: rotateY(337.5deg) translateZ(310px);
}

