.container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;

  -webkit-perspective-origin: 50% 100px;
  -moz-perspective-origin: 50% 100px;
  -o-perspective-origin: 50% 100px;
  perspective-origin: 50% 100px;
}

.cube {
  margin: 100px auto;
  position: relative;
  width: 200px;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: -webkit-transform 5s;
  -moz-transition: -moz-transform 5s;
  -o-transition: -o-transform 5s;
  transition: transform 5s;
}

.cube div {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid;
}

.one {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
}

.two {
  -webkit-transform: rotateY(72deg) translateZ(100px);
  -moz-transform: rotateY(72deg) translateZ(100px);
  -o-transform: rotateY(72deg) translateZ(100px);
  transform: rotateY(72deg) translateZ(100px);
/*'
  -webkit-transform: rotateY(72deg) translateZ(200px) translateX(0px);
  -moz-transform: rotateY(72deg) translateZ(200px) translateX(0px);
  -o-transform: rotateY(72deg) translateZ(200px) translateX(0px);
  transform: rotateY(72deg) translateZ(200px) translateX(0px);
*/

  -webkit-transform-origin: 20% 20%;
  -moz-transform-origin: 20% 20%;
  -o-transform-origin: 20% 20%;
  transform-origin: 20% 20%;

}

.three {
  -webkit-transform: translateZ(-100px) rotateY(144deg);
  -moz-transform: translateZ(-100px) rotateY(144deg);
  -o-transform: translateZ(-100px) rotateY(144deg);
  transform: translateZ(-100px) rotateY(144deg);

  -webkit-transform-origin: 40% 40%;
  -moz-transform-origin: 40% 40%;
  -o-transform-origin: 40% 40%;
  transform-origin: 40% 40%;
}

.four {
  -webkit-transform: rotateY(216deg) translateX(-100px);
  -moz-transform: rotateY(216deg) translateX(-100px);
  -o-transform: rotateY(216deg) translateX(-100px);
  transform: rotateY(216deg) translateX(-100px);

  -webkit-transform-origin: 60% 60%;
  -moz-transform-origin: 60% 60%;
  -o-transform-origin: 60% 60%;
  transform-origin: 60% 60%;
}

.five {
  -webkit-transform: rotateY(288deg) translateX(-100px);
  -moz-transform: rotateY(288deg) translateX(-100px);
  -o-transform: rotateY(288deg) translateX(-100px);
  transform: rotateY(288deg) translateX(-100px);

  -webkit-transform-origin: 80% 80%;
  -moz-transform-origin: 80% 80%;
  -o-transform-origin: 80% 80%;
  transform-origin: 80% 80%;
}


.cube:hover {
  animation: spin 5s infinite linear;
}

@keyframes spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}

@-webkit-keyframes spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}
